<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <!-- this tag is used to render output as an HTML  -->
    <h3> <%= ["PHP","Laravel","Node JS","React JS"][1] %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ad!</p>
</body>
</html>